:root {
    --primary: #6366f1;
    --dark: #111827;
    --light: #f9fafb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(135deg, #0f172a, #334155);
}

.clock-container{
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    padding: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.clock h1{
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
    transition: 0.3s ease;
}

.clock p{
    font-size: 1rem;
    opacity: 0.9;
}

.toggle-btn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover{
    background-color: #1619ad;
    transform: scale(1.05);
}

@media (max-width: 400px) {
  .clock-container {
    width: 90%;
    padding: 30px;
  }
}